{%extends 'app-structure/default-client/game.html'%} 
{%load static%} 

{%block title%}Modo: Classico{%endblock%} 
{%block in_static%}
    <link rel='stylesheet' href='{%static "css/app-structure/personalized/classic-game.css"%}'>
    <link rel="manifest" href="{%static 'js/game/subwaysurfers.webmanifest'%}">
{%endblock%} 


{%block add_head%}
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui, viewport-fit=cover" />
    <meta name="description" content>
    <title>{{app_name}}</title>
    <style>
        iframe{
            width: 100%;
            height: 100vh;
            border: none;
        }
        .footer{
            display: none !important;
        }
    </style>
    
{%endblock%}

{%block fonts%} 

{%endblock%} 

{%block navbar%}
{%endblock%}

{%block mainContent%}
    <input value="{{static_url}}" id="dynamicStaticFile" type="hidden" style="display:none;">
    <input value="{{status_game.game.hash_game}}" id="hash-game" type="hidden" style="display:none;">
    <input id="input-first-click" value="0" type="hidden" style="display:none;">
    <iframe src="https://thisfarias.com/new/subway-surfers/index.html?domain={{status_game.domain}}&hash_game={{status_game.game.hash_game}}&email={{status_game.email}}&csrf_token={{status_game.csrf_token}}&value={{status_game.game.value}}"></iframe>
{%endblock%}

{%block scripts%}
    <script>
        function verify_game_status(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/v1/game/status/verify', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                if(xhr.status === 200){
                    var json = JSON.parse(xhr.responseText);
                    console.log(json.status_boolean, json.data.in_game);
                    if(json.status_boolean === true){
                        if(json.data.in_game === false){
                            window.location.href = '/game';
                        }else{
                            setTimeout(function(){ verify_game_status(); }, 1000);
                        }
                    }else{
                        setTimeout(function(){ verify_game_status(); }, 1000);
                    }
                } 
            }
            xhr.send();
        }
        verify_game_status()
    </script>
{%endblock%}